* {
    margin: 0;
    padding: 0;
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 25px 1fr 1fr 1fr 1fr 50px;
    height: 100vh;
}

nav {
    background-color: #48cae4;
    grid-column: 1 / span 6;
    grid-row: 1 / span 1;
}

aside {
    background-color: #0077b6;
    color: white;
    grid-column: 5 / span 2;
    grid-row: 2 / span 4;

}

main {
    background-color: #f2f2f2;
    grid-column: 1 / span 4;
    grid-row: 2 / span 4;
}

footer {
    background-color: #03045e;
    color: white;
    grid-column: 1 / span 6;
    grid-row: 6 / span 1;
}